body > h1 {
  font-size: 20px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    font-size: 20px;
  }
  25% {
    font-size: 25px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 40px;
  }
}
